.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-logo {
  height: 100px;
  width: 155px;
  mix-blend-mode: color-burn;
}

.nav-items {
  display: flex;
  gap: 50px;
}
.nav-links {
  text-decoration: none;
  color: white;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.nav-shop {
  display: flex;
  gap: 20px;
}

.nav-user {
  height: 40px;
  width: 40px;
  background-color: transparent;

  color: white;
}
