.footer-sec {
  display: flex;
  justify-content: space-between;
}

.footer-size {
  display: flex;
  gap: 10px;
  width: 220px;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.btn {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: grey;
}
.btn-colors {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}
.btn-colors:nth-child(1) {
  background-color: black;
}
.btn-colors:nth-child(2) {
  background-color: #ff2600;
}
.btn-colors:nth-child(3) {
  background-color: #ffa2c1;
}
.btn-colors:nth-child(4) {
  background-color: #047043;
}
.btn-colors:nth-child(5) {
  background-color: #ecec49;
}

.footer-colors {
  display: flex;
  gap: 10px;
}

.btn-colors:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btn-move {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  font-size: 24px;
  color: white;
}

.btn-move:hover {
  cursor: pointer;
  background-color: grey;
}

.btn-move-wrapper {
  display: flex;
  gap: 30px;
}

.footer-right {
  display: flex;
  justify-content: end;

  flex-direction: column;
}

.footer-info {
  position: absolute;
  color: white;
  top: 35%;
  left: 80%;
  text-align: justify;
}
